

#btn-adicionar{
    color: black;
font-weight: 650;
}

#btn-adicionar:hover{
    color: #fff;
}

table.table>thead>tr th {
    background-color: black;
}

h3{
  color:  var(--cor-primaria);
  text-align: center;
  font-size:xx-large;
  text-transform: uppercase;
}