#demo {
    position: relative;
    width: 900px;
    height: 550px;
    margin: 40px auto;
    border: 2px solid white;
    overflow: hidden;
    box-shadow: 0 10px 40px -12px black;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
    
}
a:hover{
    text-decoration: none;
    color: #fff;
 }
#Btn-link{
    background: rgb(219, 205, 12);
}
#Btn-link:hover{
    background-color: var(--cor-secundaria);
    box-shadow: 0 10px 40px black;
    outline: auto;
    color: #fff;
}